<nav class="navbar fixed-top navbar-dark bg-dark shadow-sm">
    <div class="container-fluid">
      <a class="navbar-brand" href="http://127.0.0.1:8000/">
        {% load static %}
        <img src="{% static 'manager/logo.png' %}" alt="logo" height="24" class="d-inline-block align-text-top">
        <strong>Squirrle Travel</strong>
      </a>

      <!-- <a href="http://127.0.0.1:8000/" class="btn btn-warning" role="button">Home</a> -->
      <a href="http://127.0.0.1:8000/manager/recom/" class="btn btn-warning" role="button">Editor Choice</a>
      <a href="http://127.0.0.1:8000/community/" class="btn btn-warning" role="button">Community</a>
      <div class="d-flex">
        {% if request.session.is_login %}
        <div class="dropdown">
            <button class="btn btn-warning dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                Welcome, {{ request.session.user_name }}
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="/manager/myplan/all">My Plan</a>
              <a class="dropdown-item" href="/timeline/profile/all">My Profile</a>
              <a class="dropdown-item" href="/users/logout/">Log Out</a>
            </div>
        </div>
        {% else %}
        <a class="btn btn-sm btn-outline-secondary me-2" type="button" href="/users/register">Sign Up</a>
        <a class="btn btn-sm btn-outline-secondary" type="button" href="/users/login">Login In</a>
        {% endif %}
    </div>
  </div>
</nav>
